@charset "UTF-8";
/* pc 버전의 스타일
	
	1. 스타일 초기화 : 직접[v] RESET 사용할것인지? 
	
	2. 레이아웃 관련 공통 스타일, 각 구역별 세부 스타일 (코딩 컨벤션)
	
	    - 헤더 ~ 푸터
	
	3. 레이아웃 기법 : 여러가지~ 어떤것을 어떻게 사용할지!
	
	    - 대부분 : flexbox
	    - 부분 : float, position
	    - display 변경해가면서 구현
 */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body {
	font-family: 'Maven Pro', Noto Sans KR', sans-serif;
}


/* =================== 01. 레이아웃 공통 클래스 정의 =================== */
.d-flex {
	display: flex
}
.justify-center {
	justify-content: center
}
.justify-between {
	justify-content: space-between
}
.justify-around {
	justify-content: space-around
}
.align-center {
	align-items: center
}
.align-self-center {
	align-self: center;
}
.container {
	max-width: 1000px; /* 요즘은 네이버 기준, 1200쯤? 만드는게 일반적! */
}
.mx-auto {
	margin: 0 auto;
}


/* =================== 02. 레이아웃 구역별 세부 클래스 정의 =================== */

/* =================== 02-1. header 클래스 정의 =================== */ 