@charset "UTF-8";
:root {
	--base-font-color: #000;
	--main-font-color: #f9c02d;
	--main-link-color: #666;
	--base-font-size: 16px;
	--point-font-size: 20px;	
}
html {
	font-size: 20px; /* 문서 전체 root 폰트 크기 */
}
/* pc 버전의 스타일
	
	1. 스타일 초기화 : 직접[v] RESET 사용할것인지? 
	
	2. 레이아웃 관련 공통 스타일, 각 구역별 세부 스타일 (코딩 컨벤션)
	
	    - 헤더 ~ 푸터
	
	3. 레이아웃 기법 : 여러가지~ 어떤것을 어떻게 사용할지!
	
	    - 대부분 : flexbox
	    - 부분 : float, position
	    - display 변경해가면서 구현
 */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}


body {
	font-family: 'Maven Pro', 'Noto Sans KR', sans-serif;
}

a, a:link {
	color: inherit; /* 색상: 물려받아서 결정 */
	text-decoration: none
}

/* =================== 01. 레이아웃 공통 클래스 정의 =================== */
.d-none {
	display: none
}
.d-flex {
	display: flex
}

.justify-center {
	justify-content: center
}
.justify-between {
	justify-content: space-between
}
.justify-around {
	justify-content: space-around
}

.align-center {
	align-items: center
}
.align-self-center {
	align-self: center;
}

.container {
	max-width: 1000px; /* 요즘은 네이버 기준, 1200쯤? 만드는게 일반적! */
}
.mx-auto {
	margin: 0 auto;
}
.gap-1 {
	gap: 1rem;
}
.gap-2 {
	gap: 2rem;
}
.gap-3 {
	gap: 3rem;
}

.border-top-thin {
	border-top : 1px solid #000 
}
.border-left-thin {
	border-top : 1px solid #000
}

hr {
	border: 0;
	height: 2px;
	background-color: var(--main-font-color); /* hr은 폰트가 아닌데..? */
	position: relative;
	top: -5px
}

.pos-absolute {
	position: absolute
}

/* =================== 02. 레이아웃 구역별 세부 클래스 정의 =================== */

/* =================== 02-1. header 클래스 정의 =================== */
.links {
	font-size: 14px;
	color: var(--main-link-color);
}

/* =================== 02-2. main_nav 클래스 정의 =================== */
.main_nav a {
	font-size: .9rem;
	font-weight: 700; /* 단위값이 없는 속성 중 하나 */
	color: var(--main-font-color); /* 노랑색 */
}
.main_nav a:hover {
	color: var(--base-font-color); /* 검정색 */
}
.topNav {
	height: 60px;
}

/* =================== 03. trailer 아이디 정의 =================== */

.devils {
	z-index: 10;
	/* left,right,top,bottom으로 위치 지정 vs static은 위치 지정 불가 */
	left: 50%;
	top: 40%;
	transform: translateX(-50%);  /* 변형: X축 이동(얼마) */
}
/* LoVe, HAte (상태선택)순서 */
.devils:hover {
	display: none
}
.youtubeWrap{
    position: relative;
    height: 240px;
    padding-top: 0px;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.youtubeWrap iframe,.youtubeWrap object,.youtubeWrap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 